# CONFIG_SNAPCLIENT_USE_INTERNAL_ETHERNET is not set
CONFIG_SNAPCLIENT_USE_SPI_ETHERNET=y
CONFIG_SNAPCLIENT_SPI_ETHERNETS_NUM=1
# CONFIG_SNAPCLIENT_USE_DM9051 is not set
# CONFIG_SNAPCLIENT_USE_KSZ8851SNL is not set
CONFIG_SNAPCLIENT_USE_W5500=y
CONFIG_SNAPCLIENT_ETH_SPI_HOST=1
CONFIG_SNAPCLIENT_ETH_SPI_SCLK_GPIO=12
CONFIG_SNAPCLIENT_ETH_SPI_MOSI_GPIO=11
CONFIG_SNAPCLIENT_ETH_SPI_MISO_GPIO=13
CONFIG_SNAPCLIENT_ETH_SPI_CLOCK_MHZ=36
CONFIG_SNAPCLIENT_ETH_SPI_CS0_GPIO=10
CONFIG_SNAPCLIENT_ETH_SPI_INT0_GPIO=42
CONFIG_SNAPCLIENT_ETH_SPI_PHY_RST0_GPIO=45
CONFIG_SNAPCLIENT_ETH_SPI_PHY_ADDR0=1
