# CONFIG_SNAPCLIENT_USE_INTERNAL_ETHERNET is not set
# CONFIG_SNAPCLIENT_USE_SPI_ETHERNET is not set
# CONFIG_SNAPCLIENT_USE_DM9051 is not set
# CONFIG_SNAPCLIENT_USE_KSZ8851SNL is not set
# CONFIG_SNAPCLIENT_USE_W5500 is not set
